* {
	box-sizing: border-box;
}

@font-face{
	font-family: 'LifeCraft_Font';
	src: url("LifeCraft_Font.ttf");
}


#contenedor{
	width: 90%;
	text-align: center;
}

body{
	background-image: url("Fotos Plantilla/trono.jpg");
	background-size: 100%;
}

#imglogo{
	position: relative;
	left: 6%;
}

h1{
	position: relative;
	left: 6%;
	color: gold;
	font-family: 'LifeCraft_Font';
	letter-spacing: 5px;
	font-weight:bold;
  -webkit-text-fill-color: goldenrod;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
}

#alliance{
	padding: 20px;
	border: 5px none;
	width: 20%;
	float: left;
	display: inline;
	margin-left: 30%;
}

#alliance img{
	width: 60%;
}

#textoalianza{
	display: none;
}

#alliance img:hover{
	width: 80%;
	transition: 0.5s;
}

#horde{
	padding: 20px;
	border: 5px none;
	width: 20%;
	float: right;
	display: inline;
	margin-right: 20%;
}

#horde img{
	width: 40%;
}

#textohorda{
	display: none;
}

#horde img:hover{
	width: 60%;
	transition: 0.5s;
}

@media screen and (max-width: 768px){

	#imglogo img{
		width: 60%;
	}

	h1{
		font-size: 40px;
	}

	#alliance{
		width: 50%;
		margin: 0 auto;
		padding: 0 auto;
	}

	#horde{
		width: 50%;
		margin: 0 auto;
		padding: 0 auto;
	}

	body{
		background-size: auto auto;
		background-repeat: no-repeat;
	}

}

@media screen and (max-width: 420px){

	#imglogo img{
		width: 100%;
	}

	h1{
		font-size: 35px;
	}

	#alliance{
		width: 50%;
		float: none;
		padding: 10px;
	}

	#horde{
		width: 50%;
		float: none;
		padding: 10px;
	}

	body{
		background-size: auto auto;
		background-repeat: no-repeat;
	}

}
